*.egg-info
*.pyc
.idea
./logs
*~
.vscode
__pycache__
./debug
./vrac

data/EMNIST.zip

data/cifar-10-python.tar.gz

data/EMNIST/4c_6c/

src/classifier/data/cifar-10-python.tar.gz

data/MNIST/

models/vgg_conv.pth

src/classifier/data/cifar-10-batches-py/

models/classification_pytorch_shapes5_model
